<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about-page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="about-style.css">
    <link rel="stylesheet" href=" /css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Georama:wght@300;400&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    {{>navbar}}
    <div class="headings">
        <h2>Why Choose Us</h2>
        <h6 style="color: grey; padding-top: 20px; font-size:26px"> " Travel Ready "</h6>
    </div>
    <div class="reasons">

    <div class="reason-123">
        <i class="fas fa-hotel logo"></i>
        <p class="head">Handpicked Hotels</p>
        <pre style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
Travels are different. Everything depends
on what purpose the traveler has set for
 himself.
        </pre>
    </div>
    <div class="reason-123">
        <i class="fas fa-globe logo"></i>
        <p class="head">World Class Service</p>
        <pre style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
Experienced Travelers are less proned to
fear, they have more varied experiences 
 themselves.
        </pre>
    </div>
    <div class="reason-123">
        <i class="fas fa-money-check-alt logo"></i>
        <p class="head">Best Price Guarantee</p>
        <pre style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
Travelers become more tolerant to the 
representatives of various minorities.

        </pre>
    </div>
    </div>
        <h3 class="top">Our TEAM</h3>
    <div class="ourTeam">
        <div class="member">
            <img class="team" src="Images/P.png" alt="logo">
            <pre class="para">Sergio Marquina</pre>
            <pre class="designation">Asian Expert</pre>
        </div>
        <div class="member">
            <img class="team" src="Images/WW.png" alt="logo">
            <pre class="para">Whalter White</pre>
            <pre  class="designation">Marketing Manager</pre>
        </div>
        <div class="member">
            <img class="team" src="Images/TS.png" alt="logo">
            <pre class="para">Thomas Shelby</pre>
            <pre class="designation">European Expert</pre>
        </div>
        <div class="member">
            <img class="team" src="Images/TB.png" alt="logo">
            <pre class="para">Theodore Bagwell</pre>
            <pre class="designation">Travel Assistant</pre>
        </div>
    </div>
    <div class="footer">
        <div class="inline-1">

        <div class="company">
            <pre>Company INFO :-</pre>
            
            <pre class="company-name">"Travel Ready"</pre>
            <p class="company-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium repellendus fuga non placeat architecto nostrum, quae facere deleniti. Corporis asperiores quia sapiente omnis fuga quibusdam placeat cupiditate iste autem culpa?</p>
           
        </div>
        <div class="contact-us">
            <pre style="padding-bottom: 20px;">Contact US :-</pre>
            <div class="icontext">
                <i class="fas fa-mobile-alt "></i>
                <pre> 9871467124</pre>
            </div>
            <div class="icontext">
                <i class="fas fa-map-marker-alt"></i>
                <pre> Noida, Uttar Pradesh</pre>
            </div>
            <div class="icontext">
                <i class="fas fa-at"></i>
                <pre> sakshamabc22@gmail.com</pre>
            </div>
            <div class="icontext">
                <i class="fas fa-clock"></i>
                <pre> 9 A.M - 9 P.M</pre>
            </div>
        </div>
        </div>
        <div class="hr"> <hr> </div>
        <div class="copyright">
            CopyRight©  2021 : www.http://travelready.com
        </div>
    </div>
   
</body>
</html>