<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>packages-page</title>
     <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" href=" /css/all.min.css">
     <link rel="stylesheet" href="packages-style.css">
     
</head>
<body>
     {{>navbar}}
    
    <marquee behavior="" direction="left" loop="">
        <h1>YET TO BE CREATED</h1>
    </marquee>
</body>
</html>